<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.0" newVersion="1.6.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
  <add key="BlackList" value="G:\development\SpamEngineConfig\blacklist.txt"/>
  <add key="Credentials" value="G:\development\SpamEngineConfig\credentials.txt"/>
  <add key="Message" value="G:\development\SpamEngineConfig\message.txt"/>
  <add key="Music" value="G:\development\SpamEngineConfig\music.txt"/>
  <add key="Cron" value="0 0 0 1 1 ?"/>
 </appSettings>
</configuration>